.body{
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color:#fff;
    line-height:1.45;
    background:
           linear-gradient(180deg, rgba(0,0,0,0.25), rgba(0,0,0,0.45)),
           url('../images/fitnesspic.png') center/cover no-repeat fixed;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:30px;
}