    h1 {
        color: blue;
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        }
    p 
     { 
    font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            test-align: center;
            colot:black;
        }

